/* styles.css */

/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    float: left;
    width: 200px;
    background: #f2f2f2;
    padding: 20px;
    height: calc(100vh - 40px);
    overflow-y: auto;
}
main {
    margin-left: 220px;
    padding: 20px;
}
footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.login-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
.login-btn:hover {
    background-color: #0056b3;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    margin-bottom: 10px;
}
nav ul li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
nav ul li a:hover {
    background-color: #007bff;
    color: white;
}
.active {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo img {
    margin-right: 10px;
    height: 50px;
}

.user-info-link {
    color: white;
    font-weight: normal;
    text-decoration: none;
}

.container {
    max-width: 800px; /* Измененная максимальная ширина */
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.form-group label {
    flex: 1;
    margin-right: 10px;
    text-align: right;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    flex: 2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"],
.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.form-group input[type="submit"]:hover,
.btn:hover {
    background-color: #0056b3;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-warning {
    background-color: #ffc107;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-primary {
    background-color: #007bff;
}

.user-list-container {
    max-width: 800px;
    margin-left: 20px; /* Расположение слева */
    padding: 20px;
}
.search-form {
    margin-bottom: 20px;
}
.search-input-container {
    display: flex;
    width: 100%;
}
.search-input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
.search-input-container button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}
.search-input-container button:hover {
    background-color: #0056b3;
}
.show-inactive {
    margin-bottom: 20px;
}
.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.add-user-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}
.add-user-btn:hover {
    background-color: #0056b3;
}
.user-table {
    width: 100%;
    border-collapse: collapse;
}
.user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.user-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}
.user-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.user-table tr:hover {
    background-color: #ddd;
}
.user-table .inactive-user {
    background-color: #ffcccc;
}
.show-inactive-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    text-decoration: none;
}
.show-inactive-btn:hover {
    background-color: #0056b3;
}
.user-table .inactive-user td {
    background-color: #ffcccc;
}
.search-input-container {
    display: flex;
    width: 100%;
    position: relative;
}
.search-input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}
.search-input-container button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.role-list {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    width: 63%;
}

.role-checkbox {
    display: block;
    margin-bottom: 5px;
}

.role-checkbox input {
    margin-right: 10px;
}

.role-checkbox label {
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.form-actions {
    text-align: center;
    margin-top: 20px;
}

.form-actions .btn {
    display: inline-block;
    margin: 5px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.select-wrapper {
    position: relative;
}

.select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.select-wrapper::after {
    content: '\25BC';
    font-size: 16px;
    color: #555;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

