{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Проекты</h2>
    <a href="{% url 'project_create' %}" class="btn btn-primary mb-3">Создать новый проект</a>
    <table class="table">
        <thead>
            <tr>
                <th>Наименование ПСР-проекта</th>
                <th>Регистрационный номер</th>
                <th>Дата начала проекта</th>
                <th>Статус проекта</th>
                <th>Оптимизируемый процесс</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.reg_number }}</td>
                <td>{{ project.start_date }}</td>
                <td>{{ project.get_status_display }}</td>
                <td>{{ project.optimized_process }}</td>
                <td>
                    <a href="{% url 'project_update' project.pk %}" class="btn btn-warning">Редактировать</a>
                    <a href="{% url 'project_confirm_delete' project.pk %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}